{% extends "base.html" %}

{% block app_content %}
    <div class="d-grid gap-2 col-6 mx-auto" align="right">
        <a href="{{ url_for('add_item') }}" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Add Item</a>
        <a href="{{ url_for('delete') }}" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Delete</a>
    </div><br>

<table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">Item Name</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    {% for data in itmds %}
    <tbody>
        <tr>
            <td>{{ data.name_author }}</td>
            <td>{{ data.name_item }}</td>
            <td>{{ data.body }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}