{% extends "base.html" %}

{% block app_content %}
    <div class="d-grid gap-2 col-6 mx-auto" align="right">
        <a href="{{ url_for('add_item') }}" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Add Item</a>
        <a href="#" class="btn btn-primary enabled" tabindex="-1" role="button" aria-disabled="true">Delete</a>
    </div><br>

<table class="table table-bordered">
    <thead>
        <tr>
        <th scope="col">Username</th>
        <th scope="col">Item Name</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ items.username }}</td>
            <td>{{ items.name_item }}</td>
            <td>{{ items.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}